{% extends "layout.html" %}

{% block titulo %}Administrador{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">
            <i class="fa-solid fa-house-chimney-user"></i> Home
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="operacionesDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Operaciones
          </a>
          <ul class="dropdown-menu" aria-labelledby="operacionesDropdown">
            <li><a class="dropdown-item" href="/sUsuario">Usuarios</a></li>
            <li><a class="dropdown-item" href="#">Otra acción</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Algo más</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link text-danger" href="{{ url_for('signout') }}">
            <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block contenido %}
<div class="container mt-4">
  <h2>Bienvenido, {{ current_user.nombre }}</h2>
  <p>Este es tu panel de administrador. Usa el menú Operaciones para navegar.</p>
</div>
{% endblock %}
