{% extends "layout_operaciones.html" %}
{% block titulo %}Operaciones{% endblock %}

{% block contenido %}
<h3 class="mb-3 text-center">Lista de Usuarios</h3>

<table class="table table-striped table-bordered text-center align-middle">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>CORREO</th>
      <th>CLAVE</th>
      <th>PERFIL</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for u in usuarios %}
      <tr>
        <td>{{ u[0] }}</td>
        <td>{{ u[1] }}</td>
        <td>{{ u[2] }}</td>
        <td>{{ u[3] }}</td>
        <td>{{ u[4] }}</td>
        <td>
          <a href="{{ url_for('editar_usuario', id=u[0]) }}" class="btn btn-warning btn-sm">
            <i class="fa-solid fa-pen-to-square"></i> Editar
          </a>
        </td>
        <td>
          <a href="{{ url_for('eliminar_usuario', id=u[0]) }}" class="btn btn-danger btn-sm"
             onclick="return confirm('¿Seguro que deseas eliminar este usuario?');">
            <i class="fa-solid fa-trash"></i> Eliminar
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
